body {
    background-color:#FCE7C8;
}

#lessonbody {
    background-color: white;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}

a {
    text-decoration: none;
    color: black;
}

/*Navigation Bar */

.navigation {
    background-color:#F0A04B;
    display:flex;
    flex-direction: row;
    justify-content: left;
}

.nav {
    padding: 10px;
}

.nav1 {
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 8px;
}

.nav1:hover {
    transform: scale(1.09);
    color: #4a642d;
    background-color:white;
}

/*The Learn Buttons | Home Page*/

.learnbutton {
    background-color: #FADA7A;
    display:grid;
    grid-template-rows: auto auto auto;
    justify-content: center;
}

.lbutton {
    background-color: white;
    margin: 5px;
    border-radius: 30px;

}

.lbutton:hover {
    transform: scale(1.05);
    background-color:rgb(255, 238, 238);
}

/*Lesson Formatting*/

.lesslist:hover {
    color: blue;
}